.a_tbdr{
 border: 1px dashed red;
}


header{
  height: 141px;
  background: #9A33CC;
}

main{
  min-height: 450px;
  background: #fff;
}

footer{
  height: 90px;
  background: #0099CB;
}

.clr{
  background: #33B5E6;
}